<%- include("partials/header"); -%>


<body style="background-color: #d7cac3">

    <!-- START NAVBAR -->
    <%- include("partials/navbar"); -%>
    <!-- END NAVBAR -->


    <div class="container-fluid">
        <div class="row">
            <h1 class="page-title">Blog</h1><a href="/blog/compose" class="add-new-blog-post-button btn btn-lg btn-light">+</a>
            
        </div>


        <% posts.forEach(function(post){ %>
        <div class="blog-preview-post row justify-content-center col-12">
            <div class="blog-preview-title-bar">
                <h2 class="blog-preview-title-bar-text"><a
                        href="/blog/<%= post.posttitle.replace(/[^a-zA-Z\s]+/g, ' ').trim() %>"> <%= post.posttitle %> </a>
                </h2>
            </div>
            <div class="blog-edit-delete-btn">
                    <form action="/blog/<%= post.posttitle.toLowerCase().replace(/\s|\W/g, '-').trim()%>/edit" method="GET">
                        <button class="btn btn-light" type="submit">Edit</button>
                    </form>
                    <form action="/blog/<%= post.posttitle.toLowerCase().replace(/\s|\W/g, '-').trim()%>" method="POST" enctype="multipart/form-data">
                        <input onclick="return confirm('Do you really want to submit the form?');" class="btn btn-light" type="submit" value="Delete">
                    </form>
                </div>
            <div class="blog-preview-image" style="background-image: url(<%= post.postpicture %>)"></div>
            <% const re = /(<([^>]+)>|&nbsp;|\\r|\\n|\\r\\n|\\)/gi; %>
            <p class="blog-preview-text"><span class="blog-preview-text-inline-bigger">
                    <%= post.postbody.replace(re,"").split(" ").slice(0, 6).join(" "); %></span>
                <%= post.postbody.replace(re,"").split(" ").slice(8, 41).join(" "); %><a
                    href="/blog/<%= post.posttitle.replace(/[^a-zA-Z\s]+/g, ' ') %>"><i
                        class="fas fa-greater-than"></i></a></p>
        </div>
        <% }); %>


        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous posts</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Older posts</a>
              </li>
            </ul>
          </nav> -->

        <div class="row read-more-older">
            <p class="read-older"><a href="#">Read older posts &nbsp &nbsp &nbsp &nbsp<i
                        class="fas fa-greater-than"></i></a> </p>
        </div>


    </div>




    <%- include("partials/footer"); -%>