<%- include("partials/header") -%>

<body style="background-color: #b7eae3">

    <!-- START NAVBAR -->
    <%- include("partials/navbar"); -%>
    <!-- END NAVBAR -->


    <div class="container-fluid">
        <div class="row">
            <h1 class="page-title"> <%= post.posttitle %> </h1>
            <div class="post-picture" style="background-image: url(<%= post.postpicture %>)"></div>

            <div class="short-description">
                <!-- Match only short description that is inside of first <div> tag of the post -->
                <% const shortDescription = post.postbody.match(/<div>.*?<\/div>/)[0].replace(/(<([^>]+)>|&nbsp;|\\r|\\n|\\r\\n|\\)/gi, ""); %>
                <%= shortDescription; %>

            </div>
            <div class="post-content">
                <% const restOfBody = post.postbody.substr(shortDescription.length + 11); %>
                <%- restOfBody %>
            </div>
            <div class="post-tags">
                <% post.tags.forEach(function(tag){ %>
                    <span><a href=""> <%= tag %> </a></span>
                    <% }); %>
            </div>

        </div>



    </div>

    <%- include("partials/footer"); -%>