<%- include("partials/header") -%>

<body style="background-color: #b7eae3">

    <!-- START NAVBAR -->
    <%- include("partials/navbar"); -%>
    <!-- END NAVBAR -->


    <div class="container-fluid adjust-height-big-screens">
        <div class="row">
            <h1 class="page-title"> <%= post.posttitle %> </h1>
            <% if(adminLogged) { %>
            <div class="add-new-blog-post-button">
                <form class="form-request-buttons" action="/blog/<%= post.posttitle.toLowerCase().replace(/\s|\W/g, '-').trim()%>/edit" method="GET">
                    <button class="btn btn-light" type="submit">Edit</button>
                </form>
                <form class="form-request-buttons" action="/blog/<%= post.posttitle.toLowerCase().replace(/\s|\W/g, '-').trim()%>" method="POST"
                    enctype="multipart/form-data">
                    <input onclick="return confirm('Do you really want to submit the form?');" class="btn btn-light"
                        type="submit" value="Delete">
                </form>
                <% } %>
            </div>

            <div class="post-picture" style="background-image: url(<%= post.postpicture %>)"></div>
            

            <div class="short-description">
                <!-- Match only short description that is inside of first <div> tag of the post -->
                <% const shortDescription = post.postbody.match(/<div>.*?<\/div>/)[0].replace(/(<([^>]+)>|&nbsp;|\\r|\\n|\\r\\n|\\)/gi, ""); %>
                <%= shortDescription; %>

            </div>
            <div class="post-content">
                <% const restOfBody = post.postbody.substr(shortDescription.length + 11); %>
                <%- restOfBody %>
            </div>
            <div class="post-tags">
                <h2>Tags:</h2>
                <% post.tags.forEach(function(tag){ %>
                <span><a href="/blog/tags/<%= tag.replace(/[^a-zA-Z\s]+/g, ' ') %>"> <%= tag %> </a></span>
                <% }); %>
            </div>

        </div>



    </div>

    <%- include("partials/footer"); -%>