<%- include("partials/header") -%>

<body style="background-color: #b7eae3">

    <!-- START NAVBAR -->
    <%- include("partials/navbar"); -%>
    <!-- END NAVBAR -->


    <div class="container-fluid adjust-height-big-screens">
        <div class="row">
            <h1 class="page-title"> <%= recipe.title %> </h1>
            <!-- <div class="add-new-blog-post-button">
                <form class="form-request-buttons" action="/blog/<%= recipe.title.toLowerCase().replace(/\s|\W/g, '-').trim()%>/edit" method="GET">
                    <button class="btn btn-light" type="submit">Edit</button>
                </form>
                <form class="form-request-buttons" action="/blog/<%= recipe.title.toLowerCase().replace(/\s|\W/g, '-').trim()%>" method="POST"
                    enctype="multipart/form-data">
                    <input onclick="return confirm('Do you really want to submit the form?');" class="btn btn-light"
                        type="submit" value="Delete">
                </form>
            </div> -->



        </div>

        <div style="padding: 4% 8% 4% 8%;">
            <div class="row grid-container" style="text-align: center;">
                <div class="ingredients item-one" style="padding-left: 20%; text-align: center;">
                    <h2>Ingredients:</h2>
                    <ul style="text-align: left;">
                        <% recipe.ingredients.forEach(function(ingredient){ %>
                        <li><%= ingredient %></li>
                        <% }) %>
                    </ul>
                </div>
                <div class="image-square item-two" style="padding-right: 10%; text-align: center">
                    <img src="<%= recipe.image %>" alt="<%= recipe.recipeid %>">
                </div>

            </div>
        </div>

        <!-- <div class="row grid-container-recipe">
            <div style="margin: auto; vertical-align: top;">
                

                
            </div>
                
            </div> -->

        <div class="row">
            <div class="method">
                <h2>Method:</h2>
                <ol>
                    <% recipe.methoditems.forEach(function(methoditem){ %>
                    <li><%= methoditem %></li>
                    <% }) %>
                </ol>
            </div>
            <div class="post-tags">
                <h2>Tags:</h2>
                <% recipe.tags.forEach(function(tag){ %>
                <span><a href="/recipes/tags/<%= tag.replace(/[^a-zA-Z\s]+/g, ' ') %>"> <%= tag %> </a></span>
                <% }); %>
            </div>

        </div>



    </div>

    <%- include("partials/footer"); -%>