<%- include("partials/header") -%>

<body style="background-color: #b7eae3">

    <!-- START NAVBAR -->
    <%- include("partials/navbar") -%>
    <!-- END NAVBAR -->

    <div class="container-fluid">
        <div class="row">
            <h1 class="page-title">Recipes</h1><% if(adminLogged) { %><a href="/recipes/compose"
                class="add-new-blog-post-button btn btn-lg btn-light">+</a> <% } %>
        </div>
        <div class="row justify-content-center col-12">
            <div class="owl-carousel">
                <% recipes.forEach(function(recipe){ %>
                <div class="item image-and-title col-lg-3 col-md-6 col-sm-12">
                    <div class="image-tile">
                        <% if(adminLogged) { %>
                        <div class="blog-edit-delete-btn">
                            <form action="/recipes/<%= recipe.title.toLowerCase().replace(/\s|\W/g, '-').trim()%>/edit"
                                method="GET">
                                <button class="btn btn-light" type="submit">Edit</button>
                            </form>
                            <form action="/recipes/<%= recipe.title.toLowerCase().replace(/\s|\W/g, '-').trim()%>"
                                method="POST" enctype="multipart/form-data">
                                <input onclick="return confirm('Do you really want to submit the form?');"
                                    class="btn btn-light" type="submit" value="Delete">
                            </form>
                        </div>
                        <% } %>
                        <img src="/<%= recipe.image %>" alt="<%= recipe.recipeid %>">
                        <p class="recipe-details">
                            preparation time: <%= recipe.preptime %> <br>
                            servings: <%= recipe.servings %><br>
                            category: <%= recipe.category %></a>
                        </p>
                    </div>
                    <h3><a href="/recipes/<%= recipe.title.toLowerCase().replace(/\s|\W/g, '-').trim()"><%= recipe.title %></a></h3>
                </div>
                <% }); %>
            </div>



        </div>

    </div>


    <%- include("partials/footer") -%>